{{!
    @template block_dashboardanalytics/role_tabs
}}
{{#tabs}}
    <button type="button" class="da-tab {{#active}}is-active{{/active}}" data-tab="{{key}}">
        {{label}}
    </button>
{{/tabs}}

