{{!
    @template block_dashboardanalytics/server_gauge
}}
<button type="button" class="da-server-gauge" data-metric="{{key}}">
    <span>{{label}}</span>
    <span class="da-gauge-track"><span class="da-gauge-fill" style="width: {{value}}%"></span></span>
    <span>{{value}}%</span>
</button>

